//- div(class="alert alert-info top-general-alert")
	span The system has been upgraded to the new version. Click the 
		a(href="page-blank.html#") release notes
		|to see the changes.
	a(type="button",class="close") &times;
