div.btn-gourp
	a.editor-bold.btn.btn-default(href="javascript:void(0)")
		i.fa.fa-bold
	a.editor-italic.btn.btn-default(href="javascript:void(0)")
		i.fa.fa-italic
	a.editor-link.btn.btn-default(href="javascript:void(0)")
		i.fa.fa-link
	a.editor-code.btn.btn-default(href="javascript:void(0)")
		i.fa.fa-code
	a.editor-list-ul.btn.btn-default(href="javascript:void(0)")
		i.fa.fa-list-ul
	a.editor-list-ol.btn.btn-default(href="javascript:void(0)")
		i.fa.fa-list-ol
	a.editor-files.btn.btn-default(href="javascript:void(0)")
		i.fa.fa-file