div.top-content
	ul.list-inline.mini-stat
		li
			h5 LIKES
				span.stat-value.stat-color-orange
					i.fa.fa-plus-circle
					|  81,450
			span#mini-bar-chart1.mini-bar-chart
		li
			h5 SUBSCRIBERS
				span.stat-value.stat-color-blue
					i.fa.fa-plus-circle
					|  150,743
			span#mini-bar-chart2.mini-bar-chart
		li
			h5 CUSTOMERS
				span.stat-value.stat-color-seagreen
					i.fa.fa-plus-circle
					|  150,743
			span#mini-bar-chart3.mini-bar-chart