div#page-about.pages.page-about
	div.container
		header
			h4.line-divider About
			h1 Meet The Team
			div.row
				div.span8.offset2
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		article
			ul.thumbnails.about-items
				li.span4.center
					div.item
						img.img-circle(src="http://www.gravatar.com/avatar/242c9a188be878be87d71a314ceeae3d?size=280")
						div.about-overlay.img-circle
							div.social-icons.sicon-white
								a.sicon-facebook(href="#")
									i Facebook
								a.sicon-facebook(href="#")
									i Facebook
					h5 Kelvin
						br
						small Develepor
					p.smallFontBy08 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.
			