div#page-clients.pages.page-clients
	div.container
		h4.line-divider-inline.center #{l.clients.title}
		div.row-fluid
			-for (var i=0;i<6;i++)
				div.span2.center
					img(src="/assets-gico/images/pages/clients/0#{i+1}.png") 
		div.row-fluid
			div.span8.offset2.center.smallFontBy08
				p #{l.clients.description}