div#page-contact.pages.black-bg.white.page-contact
	div.container
		header
			h4.line-divider Contact
			h1 Say hello!
			div.row
				div.span8.offset2
					p We like to create things with fun, open-minded people. Feel free to say hello! We'll respond as soon as possible.
		article
			div.row-fluid
				div.span6
					h5 Drop Us A Line
					form
						input(type="text",class="span12",placeholder="Title",required="required")
						input(type="email",class="span12",placeholder="Email",required="required")
						textarea(rows="10",class="span12",required="required")
						button(type="submit",class="btn btn-primary") Submit
				div.span5.offset1
					h5 Meet Us
					div.media
						div.social-icons.sicon-white.pull-left
							a.sicon-phone(href="") 
								i Phone
						div.media-body.smallFontBy08 (+86) 010 99988777
					div.media
						div.social-icons.sicon-white.pull-left
							a.sicon-place(href="") 
								i Location
						div.media-body.smallFontBy08 1095 北京市
					div.media
						div.social-icons.sicon-white.pull-left
							a.sicon-mail
								i Email
						div.media-body.smallFontBy08 mail@giccoo.com
					div.media
						div.social-icons.sicon-white.pull-left
							a.sicon-clock(href="")
								i Time zone
						div.media-body.smallFontBy08 UTC / GMT -5
					br
					br
					br
					h5 Get social
					div.social-icons.sicon-white.bordered
						a.sicon-facebook(href="")
							i Facebook

