div#page-features.pages.white.paralax.page-features
	div.overlay
	div.container
		header
			h4.line-divider Features
			h1 What's Inside
			div.row
				div.span8.offset2
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		article
			div.row-fluid
				div.span4.center
					img(src="/assets-gico/images/pages/features/about01.png")
					h5 Responsive
					p.smallFontBy08.cutBy10 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				div.span4.center
					img(src="/assets-gico/images/pages/features/about01.png")
					h5 Responsive
					p.smallFontBy08.cutBy10 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				div.span4.center
					img(src="/assets-gico/images/pages/features/about01.png")
					h5 Responsive
					p.smallFontBy08.cutBy10 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			div.row-fluid
				div.span8.offset2
					div.quote.center
						div#quote-slider.slide
							div.carousel-inner
								div.active.item
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									h5 Happy client
								div.item
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									h5 Happy client
								div.item
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									h5 Happy client
							ol.carousel-indicators
								li(data-target="#quote-slider",data-slide-to="0",class="active")
								li(data-target="#quote-slider",data-slide-to="1")
								li(data-target="#quote-slider",data-slide-to="2")
