doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")
		block title
		//- link(rel="shortcut icon",type="image/x-icon",href="http://www.giccoo.com/favicon.ico")
		//- link(rel="icon",type="image/x-icon",href="http://www.giccoo.com/favicon.ico")

		link(rel="canonical",href="http://www.Giccoo.com")
		//- link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic")
		//- link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here")
		//- link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600")
		//- link(rel="stylesheet",type="text/css",href="#{config.cdn}/css/bootstrap.min.css")
		//- link(rel="stylesheet",type="text/css",href="/css/animate.css")
		//- link(rel="stylesheet",type="text/css",href="/css/main.css")
		link(rel="stylesheet",type="text/css",href="/assets-gico/style/bootstrap.css")
		block css 
	body
		include nav
		include welcome
		include works
		include clients
		include features
		include about
		//- include twitter
		//- include blogs
		include contact

		-var jslist = ['js/jquery-1.10.2.min.js','js/bootstrap/bootstrap.min.js','js/plugins/source/jquery.bxslider.js','js/plugins/source/jquery.centralized.js','js/plugins/source/jquery.fixedonlater.js','js/plugins/source/jquery.hashloader.js','js/plugins/source/jquery.mixitup.js','js/plugins/source/jquery.nav.js','js/plugins/source/jquery.parallax-1.1.3.js','js/plugins/source/jquery.responsivevideos.js','js/plugins/source/jquery.scrollTo-1.4.3.1.js','js/application/source/application.js']
		-for(var i=0;i<jslist.length;i++)
			script(src="#{config.cdn}/assets-gico/#{jslist[i]}")
		block scripts
		block script