nav#navigation.fixed-top
	div.container
		div.row-fluid
			div.span12.center
				a.brand.pull-left(href="/")
					img(src="/img/logo_text.png",width="80",alt="Giccoo")
				div.mobile-menu(data-toggle="collapse",data-target=".nav-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				//- MAIN MENU
				ul#main-menu.nav-collapse.collapse
					-for(var i=0;i<l.nav.length;i++)
						li
							a(href="#{l.nav[i].url}") #{l.nav[i].name}
					

				div.social-icons.hover-big.pull-right
					//- -var icons = ['facebook','twitter']
						a(href="",class="sicon-facebook")
							i facebook
