div#page-welcome.pages.white.paralax.page-welcome
	div.overlay
	div.centralized
		div.container
			div.row-fluid
				div.span12.center
					div.logo
						div.scrollNormal
							a(href="#page-work")
								img(src="assets-gico/images/pages/welcome/logo_welcome.png",width="140",height="140")
						div.scrollDown
							a(href="#page-work")
								img(src="assets-gico/images/pages/welcome/logo2_welcome.png",width="140",height="140")
					div#welcome-messages.line-divider
						ul.slides
							-for (var i=0;i<l.welcome.message.length;i++)
								li
									h1 #{l.welcome.message[i]} 
					p #{l.welcome.description}
					div.social-icons.sicon-white.bordered
