extends layout 
block title
	title #{l.t.homepage}
block content_here
	section.homepage
		div#banner.banner-work
		div#content.content.growtopcontent
			div.container.gicontent.p60
				h3 #{l.services.h3}
				div
					ul.nav.nav-pills
						li
							a(href="/work/tag") work标签
				div.row
					div.col-sm-3.work-item
						a(href="/work/shortname")
							img(src="http://image.tianjimedia.com/uploadImages/2013/309/1QLO85514380.jpg")
							div.title
								span look here
					div.col-sm-3.work-item
						a(href="/work/shortname")
							img(src="http://image.tianjimedia.com/uploadImages/2013/309/1QLO85514380.jpg")
							div.title
								span look here
					div.col-sm-3.work-item
						a(href="/work/shortname")
							img(src="http://image.tianjimedia.com/uploadImages/2013/309/1QLO85514380.jpg")
							div.title
								span look here
					div.col-sm-3.work-item
						a(href="/work/shortname")
							img(src="http://image.tianjimedia.com/uploadImages/2013/309/1QLO85514380.jpg")
							div.title
								span look here
					div.col-sm-3.work-item
						a(href="/work/shortname")
							img(src="http://image.tianjimedia.com/uploadImages/2013/309/1QLO85514380.jpg")
							div.title
								span look here
					div.col-sm-3.work-item
						a(href="/work/shortname")
							img(src="http://image.tianjimedia.com/uploadImages/2013/309/1QLO85514380.jpg")
							div.title
								span look here
					div.col-sm-3.work-item
						a(href="/work/shortname")
							img(src="http://image.tianjimedia.com/uploadImages/2013/309/1QLO85514380.jpg")
							div.title
								span look here
					div.col-sm-3.work-item
						a(href="/work/shortname")
							img(src="http://image.tianjimedia.com/uploadImages/2013/309/1QLO85514380.jpg")
							div.title
								span look here
					div.col-sm-3.work-item
						a(href="/work/shortname")
							img(src="http://image.tianjimedia.com/uploadImages/2013/309/1QLO85514380.jpg")
							div.title
								span look here


block scripts