-for(var i = 0;i<worklist.length;i++)
	-var wk_tag = ""
	-for(var j=0;j<worklist[i].tag_id.length;j++)
		-wk_tag += " "+worklist[i].tag_id[j].name
	li(class="span4 mix #{wk_tag}")
		a(href="#work/#{worklist[i].shortname}",data-destination="portfolio-items",data-insert="after")
			img(src="#{worklist[i].small_img}")
			div.portfolio-overlay
				h4 #{worklist[i].title}