.banner_0815 {
	.wh(90%,auto);
	.mp0(180px auto auto,0px);
	font-family: 'Dosis',sans-serif;
	color: @c-w;
	h1 {
		.mp0(0px,5px 25px);
		.flh(35pt,40pt);
		font-weight: 300;
		display: table;
		background: url(../img/1x1.png) repeat left top;
	}
	h2 {
		.mp0(2px 0px 0px,5px 25px);
		.flh(30pt,35pt);
		font-family: 'Just Me Again Down Here', cursive;
		font-weight: 400;
		display: table;
		background: url(../img/1x1.png) repeat left top;
	}
	.gbtn {
		float:right;
		display: inline-block;
		margin-top:-52px;
	}
}